
.jumbotron {
  padding-top: 7rem;
  background: #e2edff;
}
.gammbar{
  width: 200px;
  height: 200px;
}
#projects {
  background: #e2edff;
}
footer img{
  width: 30px;
}
section{
  padding-top: 5rem;
}